.header{
    display:flex;
    justify-content:space-between;
    height:100px;
}

.MenuBar {
    display:flex;
    justify-content:space-between;
    background-color: #d0ece9;
}
details>Summary{
    cursor: pointer;
}